.component {
  border: 4px solid var(--neutral--300);
  border-radius: 8px;
  flex: 0 0 100px;

  & ol {
    overflow-y: scroll;
    overflow-x: hidden;
    height: 260px;
    margin: 10px 0;
    padding-left: 10px;
    list-style: none;

    display: flex;
    flex-flow: column;
    gap: 8px;

    & button {
      cursor: pointer;
      width: 100%;
      border: 2px solid var(--neutral--400);
      border-radius: 5px;
      padding: 0.45em 0.9em;
      background-color: var(--neutral--200);
      color: var(--neutral--600);
      box-shadow: 0 2px 1px var(--neutral--400);
      font-size: 12px;
      font-weight: 600;

      &:hover:not(:disabled) {
        background-color: var(--neutral--100);
        color: var(--neutral--900);
      }

      &:active:not(:disabled) {
        translate: 0 2px;
        box-shadow: none;
      }

      &:focus {
        outline: none;
      }

      &:focus-visible {
        outline: 4px solid var(--neutral--300);
      }

      &:disabled {
        cursor: not-allowed;
        background-color: var(--neutral--300);
        color: var(--neutral--600);
        translate: 0 2px;
        box-shadow: none;
      }

    }
  }
}