.component {
  padding: 4px 16px;
  background: var(--white);
  border-bottom: 1px solid rgba(0 0 0 / 3%);
  box-shadow: 0 2px 8px color-mix(in srgb, var(--primary--500) 10%, var(--white) 80%);
}

.homelink {
  flex: 1;
  line-height: 1;
  font-size: 20px;

  & a {
    --size: 40px;
    --radius: 4px;
    --bg-color: rgba(0 0 0 / 3%);

    display: inline-flex;
    justify-content: flex-start;
    align-items: center;
    gap: 8px;

    padding: 4px;
    color: #0a7ea4;
    text-decoration: none;
    border-radius: var(--radius);

    & img {
      width: var(--size);
      height: var(--size);
    }
    
    &:hover {
      background-color: var(--bg-color);
    }
  }
}