body {
  margin: 0;
  background-color: var(--color-background);
  color: var(--color-forground);
  font: 1rem/1.5 "SUIT Variable", Verdana, Arial, Sans-Serif;

  & button, input, textarea {
    font-family: inherit;
  }
}

::-webkit-scrollbar {
  width: 12px;
  height: 12px;
}

::-webkit-scrollbar-thumb {
  background: var(--neutral--200);
  border-radius: 1000px;
  background-clip: padding-box;
  border: 4px solid transparent;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--primary--300);
  background-clip: padding-box;
  border: 4px solid transparent;
}

::-webkit-scrollbar-track {
  background: transparent;
}