.component {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 12px;
  margin-block-start: 40px;
  max-width: 600px;
}

.products {
  display: flex;
  flex-flow: column;
  gap: 20px;

  border: 2px solid var(--neutral--200);
  background: var(--neutral--100);
  border-radius: 6px;
  padding: 24px;

  .product {
    position: relative;
    border: 1px solid var(--neutral--400);
    border-radius: 4px;
    padding: 12px;
    background: var(--white);
  }

  & * {
    margin: 0;
  }

  & span {
    font-size: 14px;
    color: var(--neutral--600);
  }

}

.button {
  cursor: pointer;
  display: grid;
  place-content: center;
  position: absolute;
  top: 50%;
  right: 8px;
  translate: 0 -50%;
  border: 0;
  padding: 0.5em;
  background: transparent;
  line-height: 1;

  &:hover {
    background: var(--neutral--200);
    border-radius: 1000px;
  }
}

.cart {
  display: flex;
  flex-flow: column;
  gap: 8px;
  align-self: start;

  border: 2px solid var(--neutral--200);
  background: var(--neutral--100);
  border-radius: 6px;
  padding: 24px;

  & * {
    margin: 0;
  }

  & h4 {
    display: flex;
    align-items: center;
    gap: 4px;
    color: var(--neutral--700);

    & span {
      font-size: 13px;
    }
  }

  & table {
    text-align: center;
    border-collapse: collapse;
    box-shadow: 1px 1px var(--neutral--300), 2px 2px var(--neutral--300), 3px 3px var(--neutral--300);

    & th,
    & td {
      border: 1px solid var(--neutral--300);
      padding: 0.4em;
      font-size: 12px;
      color: var(--neutral--700);
    }

    & th {
      background: var(--neutral--200);
    }

    & td {
      position: relative;
    }

    .button {
      right: 50%;
      translate: 50% -50%;
    }

    .total {
      font-weight: 900;
    }

  }
  
  .allRemoveButton {
    cursor: pointer;
    margin-block-start: 4px;
    border: 0;
    border-radius: 1000px;
    padding: 0.4em 0.2em;
    background: var(--neutral--800);
    color: var(--neutral--300);

    &:disabled {
      cursor: not-allowed;
      background: var(--neutral--400);
      color: var(--neutral--600);
    }
  }
}

